<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/header.css" />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" href="css/details.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue-resource.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/qs.min.js"></script>
</head>

<body>
    <header id="header">
    </header>
    <div class="top">
        <img src="./images/details/selection.jpg" alt="">
    </div>
    <div class="big-main" id="main">
        <div class="row main fieldset">
            <div class="col-lg-6 col-md-12 fieldset">
                <p class="position">
                    您现在所在的位置><a href="index.html">首页</a>><a href="selection.html">甄选旅程</a> ><a href="details.html">澳洲游</a>
                </p>
                <img :src="pics[1].md" id="example" class="demo-img pos-center">
                <ul id="smImg">
                    <li><img :src="pics[0].sm" :data-lg="pics[0].md"></li>
                    <li><img :src="pics[1].sm" :data-lg="pics[1].md"></li>
                    <li><img :src="pics[2].sm" :data-lg="pics[2].md"></li>
                    <li><img :src="pics[3].sm" :data-lg="pics[3].md"></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="right">
                    <p>{{list.title}}</p>
                    <img src="./images/details/ai-1.png" width="50" id="ai">
                    <p>{{list.subtitle}}</p>
                    <p>活动价<span>￥{{list.new_price}}</span><s>￥{{list.old_price}}</s></p>
                    <p>客服 <a href="#"> 联系客服<img src="./images/details/kefuf.gif" alt=""></p></a>
                    <p>促销<span>加人购</span><span>多加一人立减2000元,上不封顶!!!</span></p>
                    <p>积分<span>买的越多,积分越多!所赠服务越多!!</span> </p>
                    <p>服务 <span>24小时客服服务,您的问题,就是我们的问题</span></p>
                    <p><span>出发前无理由退款</span></p>
                    <p><span>独一无二的旅行定制为你保驾护航</span></p>
                    <button>立即购买</button> <button>加入收藏</button>
                </div>

            </div>
        </div>
    </div>
    <div class="big-main">
        <div class="main">
            <p>热门推荐</p>
            <div class="intr">
                <a class="hot" href="details.html?lid=1">
                    <img src="./images/details/m1.jpg" alt="">
                    <p class="p1">周边游</p>
                    <p class="p2">DOMESTIC TRAVEL</p>
                </a>
                <a class="hot" href="details.html?lid=2">
                    <img src="./images/details/m2.jpg" alt="">
                    <p class="p1">中东游</p>
                    <p class="p2">DOMESTIC TRAVEL</p>
                </a>
                <a class="hot" href="details.html?lid=1">
                    <img src="./images/details/m5.jpg" alt="">
                    <p class="p1">美洲游</p>
                    <p class="p2">DOMESTIC TRAVEL</p>
                </a>
                <a class="hot" href="details.html?lid=2">
                    <img src="./images/details/m4.jpg" alt="">
                    <p class="p1">欧洲游</p>
                    <p class="p2">DOMESTIC TRAVEL</p>
                </a>

            </div>
        </div>
    </div>
    <div class="big-main">
        <div class="main_intr">
            <div class="detail_intr">
                <a href=".introduce" data-toggle="tab" class="active">
                    <div class="intr_item">
                        <p>产品特色</p>
                    </div>
                </a>
                <a href=".comment" data-toggle="tab">
                    <div class="intr_item">
                        <p>用户评论</p>
                    </div>
                </a>
                <a href="#" data-toggle="tab">
                    <div class="intr_item">
                        <p>如何预定</p>
                    </div>
                </a>
                <a href="#" data-toggle="tab">
                    <div class="intr_item">
                        <p>预订须知</p>
                    </div>
                </a>
            </div>
            <div class="introduce">
                <img src="./images/details/i1.jpg" alt="">
                <img src="./images/details/i2.jpg" alt="">
                <img src="./images/details/i3.jpg" alt="">
            </div>
            <div class="comment active"  id="comment">
                <p>我要评论</p>
                <textarea placeholder="请输入评论内容(最多不超过120字)" maxlength="120" v-model="msg"></textarea>
                <button @click="postComment">发布</button>
                <ul class="commit" v-for="(item,i) in list" :key="item.id">
                    <li>
                        <div class="avator">
                            <img src="./images/details/avatar.jpg" alt="">
                          
                            <ul class="info">
                                <li>{{item.content}}</li>
                                <li>{{item.ctime|dateFormat}}</li>
                            </ul>
                        </div>
                        <div class="uname">{{i+1}}楼<span>{{item.uname}}</span> </div> 
                    </li>         
                </ul>
                <ul class="fenye">
                <a href="javascript:;" @click="prev"><li :class="pre">上一页</li></a>
                <div class="page"  v-for="(item,i) in pageCount" :key="item.id">
               <a class="page-link" href="javascript:;" @click="go(i)"> <li :class="i==pageIndex?pa:''">{{i+1}}</li></a>
                </div>
               <a  href="javascript:;" @click="next"> <li :class="nex">下一页</li></a>
                </ul>
            </div>
        </div>
    </div>
    <script src="js/details_comment.js"></script>
    <script src="js/header.js"></script>
    <script src="js/details.js"></script>
    <script src="js/comment.js"></script>
</body>

</html>