<!DOCTYPE html>
<html lang="en">
<head>
    <title>用户登录界面</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/update.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue-resource.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/qs.min.js"></script>
</head>
<body>
    <div class="container-login" style="background-image: url('images/update/1.jpg');" id="main">
        <div class="wrap-login">
            <div class="login-form">
                <div class="login-form-avatar">
                    <img src="images/user_login/avatar-01.jpg" alt="AVATAR">
                </div>

                <span class="login-form-title">{{list.uname}},你好</span>
                <div v-if="!list.user_name" class="wrap-input validate-input" data-validate="">
                  <input class="input" type="text" name="user_name" id="user_name"  placeholder="请输入真实姓名" autocomplete="off" v-model="user_name">
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
                <div v-else="" class="wrap-input validate-input" data-validate="">
                  <input class="input" type="text" name="user_name" id="user_name"  :placeholder="list.user_name" autocomplete="off" v-model="user_name">
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fa fa-user"></i>
                    </span>
                </div>

                
                <div v-if="!list.phone" class="wrap-input validate-input" data-validate="">
                    <input class="input" type="text" name="phone" id="phone" placeholder="请输入联系电话" v-model="phone">
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                 <div v-else=""  class="wrap-input validate-input" data-validate="">
                    <input class="input" type="text" name="phone" id="phone" :placeholder="list.phone" v-model="phone">
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>

                <div v-if="!list.address" class="wrap-input validate-input" data-validate="">
                    <input class="input" type="text" name="address" id="address" placeholder="请输入家庭地址" v-model="address">
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                 <div v-else=""  class="wrap-input validate-input" data-validate="">
                    <input class="input" type="text" name="address" id="address" :placeholder="list.address" v-model="address">
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                <div class="container-login-form-btn">
                  <a class="login-form-btn" @click.prevent="confirm()">确认</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/update.js"></script>
</body>
</html>